MAILINATOR_API_TOKEN=
MAILINATOR_INBOX=
MAILINATOR_RESPONSE_DOMAIN=
MAILINATOR_RULES_DOMAIN=
AUTHENTICATORINATOR_SECRET_KEY=
AUTHENTICATORINATOR_ID=
MAILINATOR_SMS_PHONE_NUMBER=
MAILINATOR_WEBHOOK_TOKEN=